.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4em;
  grid-row-gap: 3em;
}
@media (max-width: 1400px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4em;
    grid-row-gap: 3em;

  }
}
@media (max-width: 700px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 4em;
    grid-row-gap: 3em;

  }
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$barbarian: #EC9B3B;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {

  &:focus {
    outline: 0;
  }
}



.card {
  background: white;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    transform: scale(1.05);
  }

}

.card__image {
  position: relative;
  height: 230px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
  img {
    height: 100%;
    left: 50%;
    margin-top: 2em;
    padding: 2em;
  }
}


.card__abv {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
}


.card_name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  line-height: 1.5em;
  margin: 1em 0px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .name {
    margin: 0 1em;
  }
}

.card_description {
  padding: 20px;
  margin-bottom: 10px;
  height: 130px;
}

